<!DOCTYPE html>
<html lang="en">
   
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Model Deployment</title>
      <script src="https://cdn.plot.ly/plotly-latest.min.js" ></script>
   </head>
   <body>
      <h1>Predict the value of your item</h1>
    
      <form action="/" method="POST">
         <label for="cars">Value:</label>
         <input type="text" name="value" placeholder="Value"><br><br>
       
         <label for="cars">Choose Your City:</label>
         <select name="city" id="city">
            <optgroup label="Aceh">
               <option value="KOTA MEULABOH">KOTA MEULABOH</option>
               <option value="KOTA BANDA ACEH">KOTA BANDA ACEH</option>
            </optgroup>
         </select><br><br>

         <label for="cars">Choose Your Sector:</label>
         <select name="sector_option" id="sector_option">
            <optgroup label="Swedish Cars">
               <option value="MAKANAN">MAKANAN</option>
               <option value="MINUMAN_TAK_BERALKOHOL">MINUMAN TAK BERALKOHOL</option>
            </optgroup>
         </select><br><br>
         <label for="cars">End Date:</label>
         <input type="date" id="inflation_date_end" name="inflation_date_end"><br><br>

         <input type="submit">
         
       
      </form>

      <!-- <img src="/plot.png" alt="my plot"> -->
         

   {% if my_marks %}
         {{my_marks}}      
   {% endif %}

   <div class="container" id="chart1" style="margin:0 auto;align-items: center; justify-content: center; ">
      <script type="text/javascript">
      var graphs;
      var graphs = {{ chart_for_html | safe }};
      var graphs=JSON.parse(graphs);
      // console.log()
      var config ={displayModeBar: false,showTips: false,responsive:true};
      Plotly.plot('chart1',graphs.data,graphs.layout,config);
      </script>
      </div>

      <div class="container" id="chart1" style="margin:0 auto;align-items: center; justify-content: center; ">
         <script type="text/javascript">
         var graphs;
         var graphs = {{ chart_for_html_2 | safe }};
         var graphs=JSON.parse(graphs);
         // console.log()
         var config ={displayModeBar: false,showTips: false,responsive:true};
         Plotly.plot('chart1',graphs.data,graphs.layout,config);
         </script>
         </div>

         <div class="container" id="chart1" style="margin:0 auto;align-items: center; justify-content: center; ">
            <script type="text/javascript">
            var graphs;
            var graphs = {{ chart_for_html_3 | safe }};
            var graphs=JSON.parse(graphs);
            // console.log()
            var config ={displayModeBar: false,showTips: false,responsive:true};
            Plotly.plot('chart1',graphs.data,graphs.layout,config);
            </script>
            </div>
   </body>
   </htm1>